
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <!-- Header Area Start -->
<div class="header-area" id="cafetoraHeader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-12 col-lg-3">
                <div class="logo">
                    <a href="/">
                        <h1><img src="~/Content/b.Deli/Assets/img/logo.png" alt="Logo"></h1>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-12 col-lg-9">
                <div class="main-menu">
                    <ul id="navigation">
                        <!-- <li class="active"><a data-scroll href="#our-menu">Thực đơn</a></li> -->
                        <li><a href="/">b.deli</a></li>
                        @*<li><a href="/">Dịch vụ</a></li>
                        <li><a href="/">Hình ảnh</a></li>*@
                        <!-- <li><a data-scroll href="#testimonials">Góp ý</a></li>                             -->
                        <li><a data-scroll href="#reservation">Tặng quà ngay</a></li>
                        <li>
                            <div class="dropdown">
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="modal" data-target="#cart">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li> 
                    </ul>
                </div>
                <!-- Mobile Menu Area Start -->
                <div class="responsive-menu-wrap"></div>
                <!-- Mobile Menu Area End -->
            </div>
        </div>
    </div>
    <!-- Header Area Start -->
</div>
<!-- Main Header Area End -->

<!-- The Modal -->
<div class="modal" id="cart">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Giỏ hàng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover table-custom">
                        <thead>
                            <tr>
                                <th nowrap class="text-center">Chọn</th>
                                <th nowrap class="text-center">Hình ảnh</th>
                                <th nowrap class="text-center">Thông tin sản phẩm</th>
                                <th nowrap class="text-center">Số lượng</th>
                                <th nowrap class="text-center">Giá</th>
                                <th nowrap class="text-center">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" class="form-control" checked></td>
                                <td><img src="~/Content/b.Deli/Assets/img/menu-img-1.png" class="img-thumbnail img-fluid" alt="Cinque Terre" width="97" height="68"></td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</td>
                                <td><input type="number" class="form-control" min="1" max="999" value="1"></td>
                                <td nowrap>1,530,200 VNĐ</td>
                                <td><div class="text-right"><a href="javascript:void(0);" class="badge badge-warning badge-pill">&times;</a></div></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="form-control" checked></td>
                                <td><img src="~/Content/b.Deli/Assets/img/menu-img-1.png" class="img-thumbnail img-fluid" alt="Cinque Terre" width="97" height="68"></td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</td>
                                <td><input type="number" class="form-control" min="1" max="999" value="1"></td>
                                <td nowrap>1,530,200 VNĐ</td>
                                <td><div class="text-right"><a href="javascript:void(0);" class="badge badge-warning badge-pill">&times;</a></div></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="form-control" checked></td>
                                <td><img src="~/Content/b.Deli/Assets/img/menu-img-1.png" class="img-thumbnail img-fluid" alt="Cinque Terre" width="97" height="68"></td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</td>
                                <td><input type="number" class="form-control" min="1" max="999" value="1"></td>
                                <td nowrap>1,530,200 VNĐ</td>
                                <td><div class="text-right"><a href="javascript:void(0);" class="badge badge-warning badge-pill">&times;</a></div></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="form-control" checked></td>
                                <td><img src="~/Content/b.Deli/Assets/img/menu-img-1.png" class="img-thumbnail img-fluid" alt="Cinque Terre" width="97" height="68"></td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</td>
                                <td><input type="number" class="form-control" min="1" max="999" value="1"></td>
                                <td nowrap>1,530,200 VNĐ</td>
                                <td><div class="text-right"><a href="javascript:void(0);" class="badge badge-warning badge-pill">&times;</a></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Đặt hàng</button>
            </div>

        </div>
    </div>
</div>

<!-- Our Menu Area Start -->
<div scroll-spy="true" id="our-menu" class="our-menu-block section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h1>Quà tặng</h1>
                    <div class="section-border"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Breakfast Slider Start -->
            <div class="col-sm-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-menu-wrapper">
                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Aloo paratha" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-1.png">
                                                <i class="fa fa-plus"></i>
                                                <img src="~/Content/b.Deli/Assets/img/menu-img-1.png" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Aloo paratha</h5>
                                            <p class="pricing">$ 1.15</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Beef sandwich" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-2.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-2.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Beef sandwich</h5>
                                            <p class="pricing">$ 10.99</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Cheese toast" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-3.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-3.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Cheese toast</h5>
                                            <p class="pricing">$ 4.30</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-menu-wrapper">
                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Doughnut Delight" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-4.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-4.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Doughnut Delight</h5>
                                            <p class="pricing">$ 22.50</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Instant breakfast" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-5.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-5.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Instant breakfast</h5>
                                            <p class="pricing">$ 5.45</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Muesli Tarka" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-6.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-6.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Muesli Tarka</h5>
                                            <p class="pricing">$ 6.10</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-menu-wrapper">
                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Doughnut Delight" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-4.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-4.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Doughnut Delight</h5>
                                            <p class="pricing">$ 22.50</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Instant breakfast" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-5.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-5.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Instant breakfast</h5>
                                            <p class="pricing">$ 5.45</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-menu-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <a title="Muesli Tarka" class="menu-lightbox" href="~/Content/b.Deli/Assets/img/menu-img-6.png"><i class="fa fa-plus"></i> <img src="~/Content/b.Deli/Assets/img/menu-img-6.png" alt=""></a>
                                        </div>
                                        <div class="col-md-8">
                                            <h5>Muesli Tarka</h5>
                                            <p class="pricing">$ 6.10</p>
                                            <a href="javascript:void(0);" class="pricing"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breakfast Slider End -->
            <!-- Start -->
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12 list-group list-group-flush">
                        <div class="relative list-group-item d-flex justify-content-between align-items-center disabled active">Loại quà tặng
                            <div class="callNext">
                                <i class="type_prev fa fa-angle-left" aria-hidden="true"></i>
                                &nbsp;
                                <i class="type_next fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 list-group list-group-flush typeGift owl-carousel owl-theme">
                        <div class="typeGift_more">
                            <a href="#" class="list-group-item">First item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item">Third item</a>
                        </div>
                        <div class="typeGift_more">
                            <a href="#" class="list-group-item"> item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item"> item</a>
                            <a href="#" class="list-group-item">Third item</a>
                        </div>
                        <div class="typeGift_more">
                            <a href="#" class="list-group-item">First item</a>
                            <a href="#" class="list-group-item"> item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item"> item</a>
                        </div>
                        <div class="typeGift_more">
                            <a href="#" class="list-group-item"> item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item">Third item</a>
                            <a href="#" class="list-group-item"> item</a>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 pl-0">
                        <hr class="gap-escape mt-0" />
                        <hr class="gap-escape"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 list-group list-group-flush">
                        <div class="relative list-group-item d-flex justify-content-between align-items-center disabled active">Phân trang
                            <div class="callNext">
                                <i class="pagination_prev fa fa-angle-left" aria-hidden="true"></i>
                                &nbsp;
                                <i class="pagination_next fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 list-group list-group-flush paginate_call owl-carousel owl-theme">
                                <div class="paginate_more">
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        First page
                                        <span class="badge badge-warning badge-pill">1</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Second page
                                        <span class="badge badge-warning badge-pill">2</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Third page
                                        <span class="badge badge-warning badge-pill">3</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Four page
                                        <span class="badge badge-warning badge-pill">4</span>
                                    </a>
                                </div>
                                <div class="paginate_more">
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        First page
                                        <span class="badge badge-warning badge-pill">1</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Second page
                                        <span class="badge badge-warning badge-pill">2</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Third page
                                        <span class="badge badge-warning badge-pill">3</span>
                                    </a>
                                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                                        Four page
                                        <span class="badge badge-warning badge-pill">4</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>

    </div>
</div>
<!-- Our Menu Area End -->